body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px 10px;
  overflow: hidden;
}

.header a {
  float: right;
  text-decoration: none;
  color: black;
  padding: 8px;
  font-size: 13px;
}

.header a:hover {
  text-decoration: underline;
}

.button {
  background-color: #4285f4;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  color: white;
  font-weight: 600;
  height: 30px;
  width: auto;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding-top: 125px;
}

.search-bar {
  padding-top: 12px;
}

.textbox {
  top: 260px;
  width: 500px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #f2f2f2;
  border-bottom-color: #c7c7c7;
}

.buttons {
  padding: 25px 25px 15px 25px;
}

.search {
  background-color: #f2f2f2;
  color: grey;
  font-weight: 600;
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 3px;
  border: none;
  font-color:;
  top: 300px;
  width: 150px;
}

.search a {
  text-decoration: none;
}

.languages {
  font-size: 13px;
}

.by {
  text-decoration: none;
  font-size: 13px;
}

.by:hover {
  text-decoration: underline;
}

.ru {
  padding-left: 8px;
  font-size: 13px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 13px;

}

.first-footer {
  background-color: #f2f2f2;
  border: solid 1px #f7f7f7;
  height: 30px;
  border-bottom: none;
}

.first-footer p {
  color: grey;
}

.country {
  padding-left: 20px;
  font-size: 14px;
}

.second-footer {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 13px;
  list-style: none;
}

.second-footer a {
  color: grey;
}

footer a {
  color: black;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

footer a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}
